Loading data

In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [12]:
Auto = pd.read_csv('Auto.csv')
Auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [14]:
Auto['horsepower']

0      130
1      165
2      150
3      150
4      140
      ...
392     86
393     52
394     84
395     79
396     82
Name: horsepower, Length: 397, dtype: object

In [15]:
np.unique(Auto['horsepower']) # a cheaky '?' is messing with the data type

array(['100', '102', '103', '105', '107', '108', '110', '112', '113',
       '115', '116', '120', '122', '125', '129', '130', '132', '133',
       '135', '137', '138', '139', '140', '142', '145', '148', '149',
       '150', '152', '153', '155', '158', '160', '165', '167', '170',
       '175', '180', '190', '193', '198', '200', '208', '210', '215',
       '220', '225', '230', '46', '48', '49', '52', '53', '54', '58',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '74', '75', '76', '77', '78', '79', '80', '81', '82',
       '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '?'], dtype=object)

In [19]:
Auto = pd.read_csv('Auto.csv',na_values = ['?'])
Auto['horsepower'].sum() # if we get a number this fixed the problem

40952.0

In [20]:
Auto.shape #rows and columns

(397, 9)

In [23]:
Auto_new = Auto.dropna() #drop the rows with missing values
Auto_new.shape

(392, 9)

In [25]:
Auto = Auto_new
Auto.columns #shows us the column/variable names

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [26]:
#We can subset a dataframe in similar ways to an array
Auto[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [28]:
Auto[3:7]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala

In [30]:
idx_80 = Auto['year'] > 80
Auto[idx_80].head()#I included head to keep output short

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
338,27.2,4,135.0,84.0,2490,15.7,81,1,plymouth reliant
339,26.6,4,151.0,84.0,2635,16.4,81,1,buick skylark
340,25.8,4,156.0,92.0,2620,14.4,81,1,dodge aries wagon (sw)
341,23.5,6,173.0,110.0,2725,12.6,81,1,chevrolet citation
342,30.0,4,135.0,84.0,2385,12.9,81,1,plymouth reliant

In [33]:
Auto[['mpg','horsepower']] #remember double brackets for columns

      mpg  horsepower
0    18.0       130.0
1    15.0       165.0
2    18.0       150.0
3    16.0       150.0
4    17.0       140.0
..    ...         ...
392  27.0        86.0
393  44.0        52.0
394  32.0        84.0
395  28.0        79.0
396  31.0        82.0

[392 rows x 2 columns]

In [35]:
Auto.index #shows values of indexing column, if not specified on upload, the default starts at 0

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            387, 388, 389, 390, 391, 392, 393, 394, 395, 396],
           dtype='int64', length=392)

In [39]:
Auto_re = Auto.set_index('name') #we asign name as the new index
Auto_re

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,1
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1

In [38]:
Auto_re.columns #name no longer shows as a column

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin'],
      dtype='object')

In [40]:
rows = ['amc rebel sst', 'ford torino']
Auto_re.loc[rows] #we can select rowns by the car name now with .loc

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,1

In [42]:
# to retrive using the row number we use .iloc
Auto.iloc[[3,4]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [44]:
#and we can also retrive more specific cells
Auto_re.iloc[[3,4],[0,2,3]]

                mpg  displacement  horsepower
name
amc rebel sst  16.0         304.0       150.0
ford torino    17.0         302.0       140.0

In [45]:
#make sure the index is unique for each row, in this example theres a couple rows with the same name
Auto_re.loc[['ford galaxie 500'], ['mpg','origin']]

                   mpg  origin
name
ford galaxie 500  15.0       1
ford galaxie 500  14.0       1
ford galaxie 500  14.0       1

Subseting the dataframe

In [50]:
idx_80 = Auto_re['year'] > 80
Auto_re.loc[idx_80, ['weight', 'origin']].head()

                        weight  origin
name
plymouth reliant          2490       1
buick skylark             2635       1
dodge aries wagon (sw)    2620       1
chevrolet citation        2725       1
plymouth reliant          2385       1

In [52]:
#we can also create an anonymus function lamda to achieve the same
Auto_re.loc[lambda df: df['year'] > 80 , ['weight','origin']].head() #since lanbda was created inside the dataframe, the dataframe becomes the variable df

                        weight  origin
name
plymouth reliant          2490       1
buick skylark             2635       1
dodge aries wagon (sw)    2620       1
chevrolet citation        2725       1
plymouth reliant          2385       1

In [54]:
#another example
Auto_re.loc[lambda df: (df['year'] > 80) & (df['mpg'] >30), ['weight','origin']]

                                   weight  origin
name
toyota starlet                       1755       3
plymouth champ                       1875       1
honda civic 1300                     1760       3
subaru                               2065       3
datsun 210 mpg                       1975       3
toyota tercel                        2050       3
mazda glc 4                          1985       3
plymouth horizon 4                   2215       1
ford escort 4w                       2045       1
volkswagen jetta                     2190       2
honda prelude                        2210       3
toyota corolla                       2350       3
datsun 200sx                         2615       3
mazda 626                            2635       3
volvo diesel                         3160       2
chevrolet cavalier 2-door            2395       1
pontiac j2000 se hatchback           2575       1
volkswagen rabbit l                  1980       2
mazda glc custom l                   2025       3
mazda glc custom                     1970       3
plymouth horizon miser               2125       1
mercury lynx l                       2125       1
nissan stanza xe                     2160       3
honda accord                         2205       3
toyota corolla                       2245       3
honda civic                          1965       3
honda civic (auto)                   1965       3
datsun 310 gx                        1995       3
oldsmobile cutlass ciera (diesel)    3015       1
toyota celica gt                     2665       3
dodge charger 2.2                    2370       1
vw pickup                            2130       2
dodge rampage                        2295       1
chevy s-10                           2720       1

In [58]:
# we can also check for strings with specific content
Auto_re.loc[lambda df: (df['displacement'] < 300) & (df.index.str.contains('ford') | df.index.str.contains('datsun')),
            ['weight','origin']]

                       weight  origin
name
ford maverick            2587       1
datsun pl510             2130       3
datsun pl510             2130       3
ford torino 500          3302       1
ford mustang             3139       1
datsun 1200              1613       3
ford pinto runabout      2226       1
ford pinto (sw)          2395       1
datsun 510 (sw)          2288       3
ford maverick            3021       1
datsun 610               2379       3
ford pinto               2310       1
datsun b210              1950       3
ford pinto               2451       1
datsun 710               2003       3
ford maverick            3158       1
ford pinto               2639       1
datsun 710               2545       3
ford pinto               2984       1
ford maverick            3012       1
ford granada ghia        3574       1
datsun b-210             1990       3
ford pinto               2565       1
datsun f-10 hatchback    1945       3
ford granada             3525       1
ford mustang ii 2+2      2755       1
datsun 810               2815       3
ford fiesta              1800       1
datsun b210 gx           2070       3
ford fairmont (auto)     2965       1
ford fairmont (man)      2720       1
datsun 510               2300       3
datsun 200-sx            2405       3
ford fairmont 4          2890       1
datsun 210               2020       3
datsun 310               2019       3
ford fairmont            2870       1
datsun 510 hatchback     2434       3
datsun 210               2110       3
datsun 280-zx            2910       3
datsun 210 mpg           1975       3
ford escort 4w           2045       1
ford escort 2h           2380       1
datsun 200sx             2615       3
datsun 810 maxima        2930       3
ford granada gl          3060       1
ford fairmont futura     2865       1
datsun 310 gx            1995       3
ford granada l           2835       1
ford mustang gl          2790       1
ford ranger              2625       1